.blue-navy{
    color: #2d266a;
}
.grey01-blue{
    color: #617daf;
}
.grey02-blue{
    color: #87bee5;
}
.grey03-blue{
    color: #bbdef4;
}
.soft-blue{
    color: #50baec;
}
.pink{
    color: #eba5cc;
}